rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuthenticated() {
      return request.auth != null;
    }

    match /members/{memberId} {
      allow read:  if isAuthenticated();
      allow write: if isAuthenticated();
    }

    match /tasks/{taskId} {
      allow read:   if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated();
      allow delete: if isAuthenticated();
    }

    match /steps/{stepId} {
      allow read:  if isAuthenticated();
      allow write: if isAuthenticated();
    }
  }
}
